<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row p-3 align-items-center">
                <div class="col-2 text-center">
                    <img src="https://static.coindesk.com/images/cryptoeconomics/icons/svg/btc.edae64fc.svg" class="img-fluid w-50">
                </div>
                <div class="col-10">
                    <h1>Valor Bitcoin</h1>
                </div>
            </div>
        </div>
    </header>
    <section id="root">
        <div class="container my-5 border border-secondary">
            <div class="row">
                <div class="col-10 mx-auto text-center">
                    <h4>Valor actual</h4>
                      <app-prices></app-prices>
                </div>
            </div>
        </div>
    </section>
    <section id="graphBox">
        <div class="container my-5 border border-secondary">
            <div class="row">
                <div class="col-10 mx-auto text-center">
                  <h4>Valor histórico</h4>
                    <app-chart></app-chart>
                </div>
            </div>
        </div>
    </section>
</body>

</html>


